/******************************************
/* SETUP
/*******************************************/
@font-face {
  font-family: "mortalKombat1";
  src: url("../assets/font/mortalkombat1.ttf");
}

html {
  /* 10px Base Font*/
  font-size: 62.5%;
}

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* ANIMATION STYLES
/*******************************************/

@keyframes blinker {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes playerOneBlinker {
  0% {
    border-color: rgba(0, 71, 171, 1);
  }
  49% {
    border-color: rgba(0, 0, 0, 1);
  }
  50% {
    border-color: rgba(0, 71, 171, 1);
  }
  99% {
    border-color: rgba(0, 0, 0, 1);
  }
  100% {
    border-color: rgba(0, 71, 171, 1);
  }
}

@keyframes cpuBlinker {
  0% {
    border-color: rgba(255, 0, 0, 1);
  }
  49% {
    border-color: rgba(0, 0, 0, 1);
  }
  50% {
    border-color: rgba(255, 0, 0, 1);
  }
  99% {
    border-color: rgba(0, 0, 0, 1);
  }
  100% {
    border-color: rgba(255, 0, 0, 1);
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: mortalKombat1;
  height: 100vh;
}

/******************************************
/* LAYOUT
/*******************************************/
.titleScreenModal {
  position: absolute;
  min-height: 360px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 5;
  border-radius: 5px;
}

.titleScreen {
  height: 100%;
  width: 100%;
}

.pressPlay {
  position: relative;
  bottom: 70px;
  right: 16px;
  color: lime;
  font-size: 3rem;
  font-weight: bold;
}

.arenaBackgroundContainer {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.muteBtn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: rgb(247, 245, 54);
  text-shadow: #000 3px 3px;
}

.muteBtn:hover {
  opacity: 0.5;
}

.arrow {
  border: solid red;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 30px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.characterSelectorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 360px;
  background-image: url(../assets/charaterSelectBackground.png);
  background-size: contain;
  padding: 0 20px;
}

.charaterSelectorWrapper {
  position: relative;
  top: 60px;
}
.characterSelectorTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: rgb(247, 245, 54);
  text-shadow: #000 3px 3px;
}

.characterWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  z-index: 3;
}

.characterWrapper li {
  height: 125px;
  width: 100px;
  cursor: pointer;
}

.characterIcon {
  height: 100%;
  width: 100%;
}

.iconBorder {
  border: 4px solid #000;
}

.playerOneCharacterSelector {
  border: rgba(0, 71, 171, 1) solid 4px;
  animation: playerOneBlinker 0.5s linear infinite;
}

.p1 {
  position: relative;
  bottom: 40px;
  left: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 71, 171, 1);
  font-size: 1.6rem;
  text-align: center;
  color: white;
  visibility: hidden;
}

.cpu {
  position: relative;
  bottom: 40px;
  left: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 1);
  font-size: 1.6rem;
  text-align: center;
  color: white;
  visibility: hidden;
}

#cpuCharacterSelector {
  border: rgba(255, 0, 0, 1) solid 4px;
  animation: cpuBlinker 0.5s linear infinite;
}

.playersSelected {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 125px;
  z-index: 2;
}

.playerOneSelection,
.cpuSelection {
  max-height: 150px;
  height: 150px;
  width: 75px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.show {
  visibility: visible;
}
